:root {
  --titleFont: "Share";
  --textFont: "Comfortaa";
  --rich-black: #001219ff;
  --blue-sapphire: #005f73ff;
  --viridian-green: #0a9396ff;
  --middle-blue-green: #94d2bdff;
  --medium-champagne: #e9d8a6ff;
  --gamboge: #ee9b00ff;
  --alloy-orange: #ca6702ff;
  --mahogany: #bb3e03ff;
  --ruby-red: #9b2226ff;
  font-size: 15px;
}
body {
  background-color: #000000;
}
/* Left Name Part */
.pageName {
  position: fixed;
  top: 0rem;
  height: 3.5rem;
  z-index: 4;
  display: flex;
  align-items: center;
  background-color: #000000;
  width: 100vw;
}
.leftIcon {
  filter: invert(100%);
  width: 2.375rem;
  padding-left: 1.75rem;
  height: 2.0625rem;
}
.leftText {
  color: white;
  font-family: Share;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8125rem;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.01em;
}

/* bottom navbar */
.navBar {
  position: fixed;
  bottom: 0px;
  z-index: 4;
  display: flex;
  width: 95vw;
  background-color: #000000;
  justify-content: space-evenly;
  align-items: center;
}

/* HERO */

.hero {
  position: absolute;
  width: 60%;
  z-index: 2;
  width: 80%;
  top: 9%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.newsItem {
  width: 15.625rem;
  height: 10rem;
  overflow: hidden;
  margin: 0;
  border-radius: 15px;
  position: relative;
  margin-bottom: 1.5rem ;
  cursor: pointer;
  
}
.newsItem:hover {
    border: 3px solid #07c;
    box-shadow: 10 10 10px #07c;
}
.itemImg {
  width: 15.625rem;
  height: 10rem;
  
}
.itemText {
  position: absolute;
  color: white;
  left: 1rem;
  bottom: 1rem;
  font-family: var(--titleFont);
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  color: #ffffff;
}

@media only screen and ( min-width : 524px) and ( max-width : 615px) {
    :root{
        font-size: 16px;
    }
    .pageName{
        width: 50vw;
    }
    .navBar{
        position: fixed;
        width: 50vw;
        height: 3.5rem;
        align-items: center;
        top: 0px;
        right: 2px;
    }
}

@media only screen and (min-width : 615px) and ( max-width : 1000px) {
    :root{
        font-size: 16px;
    }
    .pageName{
        width: 50vw;
    }
    .navBar{
        position: fixed;
        width: 50vw;
        height: 3.5rem;
        align-items: center;
        top: 0px;
        right: 2px;
    }
    .hero{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .newsItem{
        margin-right: .5rem;
    }
    .fifth{
        flex-grow: 2;
    }

}
@media only screen and (min-width : 1000px) {
    :root{
        font-size: 20px;
    }
    .pageName{
        width: 50vw;
    }
    .navBar{
        position: fixed;
        width: 50vw;
        height: 3.5rem;
        align-items: center;
        top: 0px;
        right: 2px;
    }
    .hero{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .newsItem{
        margin-right: .5rem;
    }
    
}